<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
If you are interested in making a purchase, 
please email: <a href="mailto:siteadmin@projecthandrail.com?Subject=Purchase Order">siteadmin@projecthandrail.com</a>
</p>
<h1>Project Handrail Skateshop</h1>
<!-- <h2>Products Coming Soon!</h2> //-->
<!-- Products already here....kinda. Run rake db:seed to get some products in db //-->
<% @products.each do |product| %>
  <div class="entry">
    <h3><%= product.title %></h3>
    <p><%= sanitize(product.description) %></p>
	<%= image_tag(product.image_url) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
    </div>
  </div>
  <hr>
<% end %>
