<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
If you are interested in making a purchase, 
please email: siteadmin@projecthandrail.com
</p>
<h1>Project Handrail Skateshop</h1>
<h2>Products Coming Soon!</h2>
<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <p><%= sanitize(product.description) %></p>
    <div class="price_line">
      <span class="price"><%= product.price %></span>
    </div>
  </div>
  <hr>
<% end %>
