<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Project Handrail", root_path, id: "logo" %>
        <nav>
          <ul class="nav pull-right">
	<li>
   	<% if session[:user_id] != nil %>
  	    <%= link_to "#{current_user.name} (Log Out)", logout_path %>
 	  <% else %>
  	    <%= link_to "Log In", login_path %>
	   <% end %>
	</li>
            <li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Store", store_index_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
